docker.enabled = true

manifest {
  name = 'pclust'
  description = 'Cluster proteins and annotate them'
  homePage = 'https://github.com/darcyabjones/pclust'
  author = 'Darcy Jones'
  mainScript = 'pclust.nf'
  nextflowVersion = '>=0.31.1'
  version = "0.0.1"
}

params {
  ncpu = 16
  help = false
}

process {
  cpus = 1
  withLabel: mmseqs { cpus = params.ncpu }
  withLabel: hhblits { cpus = 4 }
  withLabel: download {
    errorStrategy = "retry"
    maxRetries = 5
  }
}
