docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: python3 {
        container = "darcyabjones/python3:pclust-${manifest.version}"
    }
    withLabel: posix {
        container = "darcyabjones/posix:pclust-${manifest.version}"
    }
    withLabel: download {
        container = "darcyabjones/posix:pclust-${manifest.version}"
    }
    withLabel: mmseqs {
        container = "darcyabjones/mmseqs:pclust-${manifest.version}"
    }
    withLabel: hhsuite {
        container = "darcyabjones/hhsuite:pclust-${manifest.version}"
    }
    withLabel: mafft {
        container = "darcyabjones/mafft:pclust-${manifest.version}"
    }
    withLabel: ffdb {
        container = "darcyabjones/ffdb:pclust-${manifest.version}"
    }
}
