docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: python3 {
        container = "darcyabjones/python3:${manifest.name}-${manifest.version}"
    }
    withLabel: posix {
        container = "darcyabjones/base:${manifest.name}-${manifest.version}"
    }
    withLabel: download {
        container = "darcyabjones/posix:${manifest.name}-${manifest.version}"
    }
    withLabel: mmseqs {
        container = "darcyabjones/mmseqs:${manifest.name}-${manifest.version}"
    }
    withLabel: hhsuite {
        container = "darcyabjones/hhsuite:${manifest.name}-${manifest.version}"
    }
    withLabel: mafft {
        container = "darcyabjones/mafft:${manifest.name}-${manifest.version}"
    }
    withLabel: ffdb {
        container = "darcyabjones/hhsuite:${manifest.name}-${manifest.version}"
    }
    withLabel: fasttree {
        container = "darcyabjones/fasttree:${manifest.name}-${manifest.version}"
    }
}
