singularity {
    enabled = true
}

process {
    withLabel: python3 {
        container = "containers/singularity/python3.sif"
    }
    withLabel: base {
        container = "containers/singularity/base.sif"
    }
    withLabel: download {
        container = "containers/singularity/base.sif"
    }
    withLabel: mmseqs {
        container = "containers/singularity/mmseqs.sif"
    }
    withLabel: hhsuite {
        container = "containers/singularity/hhsuite.sif"
    }
    withLabel: mafft {
        container = "containers/singularity/mafft.sif"
    }
    withLabel: ffdb {
        container = "containers/singularity/hhsuite.sif"
    }
    withLabel: fasttree {
        container = "containers/singularity/fasttree.sif"
    }
}

