singularity {
    enabled = true
}

process {
    withLabel: python3 {
        container = "containers/singularity/python3.sif"
    }
    withLabel: posix {
        container = "containers/singularity/posix.sif"
    }
    withLabel: download {
        container = "containers/singularity/posix.sif"
    }
    withLabel: mmseqs {
        container = "containers/singularity/mmseqs.sif"
    }
    withLabel: hhsuite {
        container = "containers/singularity/hhsuite.sif"
    }
    withLabel: mafft {
        container = "containers/singularity/mafft.sif"
    }
    withLabel: ffdb {
        container = "containers/singularity/ffdb.sif"
    }
}

